<table style="width: 100%;" mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container matColumnDef="state">
      <th align="center" mat-header-cell *matHeaderCellDef>State</th>
      <td mat-cell *matCellDef="let element"> {{ element.state }} </td>
    </ng-container>
  
    <ng-container matColumnDef="dailyCases">
      <th mat-header-cell *matHeaderCellDef>Daily Cases</th>
      <td mat-cell *matCellDef="let element"> {{ element.dailyCases }} </td>
    </ng-container>
  
    <ng-container matColumnDef="per100k">
      <th mat-header-cell *matHeaderCellDef>Per 100k</th>
      <td mat-cell *matCellDef="let element"> {{ element.per100k }} </td>
    </ng-container>
  
    <ng-container matColumnDef="twoWeekChangeCases">
      <th class="tableHeaders" mat-header-cell *matHeaderCellDef>Two Week (%)</th>
      <td mat-cell *matCellDef="let element"> {{ element.twoWeekChangeCases }} </td>
    </ng-container>
  
    <ng-container matColumnDef="testPositivity">
      <th mat-header-cell *matHeaderCellDef>Test Positivity</th>
      <td mat-cell *matCellDef="let element"> {{ element.testPositivity }} </td>
    </ng-container>
  
    <ng-container matColumnDef="hospitaliedDaily">
      <th mat-header-cell *matHeaderCellDef>Hospitalied Daily</th>
      <td mat-cell *matCellDef="let element"> {{ element.hospitaliedDaily }} </td>
    </ng-container>
  
    <ng-container matColumnDef="hospitalizedPer100k">
      <th mat-header-cell *matHeaderCellDef>Hospitalized Per 100k</th>
      <td mat-cell *matCellDef="let element"> {{ element.hospitalizedPer100k }} </td>
    </ng-container>
  
    <ng-container matColumnDef="twoWeekChangeHospitalized">
      <th mat-header-cell *matHeaderCellDef>2-Week Hospitalized (%)</th>
      <td mat-cell *matCellDef="let element"> {{ element.twoWeekChangeHospitalized }} </td>
    </ng-container>
  
    <ng-container matColumnDef="deathsDailyAvg">
      <th mat-header-cell *matHeaderCellDef>Deaths Daily Average</th>
      <td mat-cell *matCellDef="let element"> {{ element.deathsDailyAvg }} </td>
    </ng-container>
  
    <ng-container matColumnDef="deathsPer100k">
      <th mat-header-cell *matHeaderCellDef>Deaths Per 100k</th>
      <td mat-cell *matCellDef="let element"> {{ element.deathsPer100k }} </td>
    </ng-container>
  
    <ng-container matColumnDef="fullyVaccinated">
      <th mat-header-cell *matHeaderCellDef>Fully Vaccinated</th>
      <td mat-cell *matCellDef="let element"> {{ element.fullyVaccinated }} </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="columndefs"></tr>
    <tr mat-row *matRowDef="let row; columns: columndefs;"></tr>
  
</table>