<div style="margin-bottom:20px">
  <table style="width: 100%; margin-bottom:20px;" mat-table [dataSource]="data" class="mat-elevation-z8">
      
    <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"> {{ element.state }} </td>
      </ng-container>
    
      <ng-container matColumnDef="weeklyAverage">
        <th mat-header-cell *matHeaderCellDef>Weekly Average</th>
        <td mat-cell *matCellDef="let element"> {{ element.weeklyAverage }} </td>
      </ng-container>
    
      <ng-container matColumnDef="weeklyNewCasesPer1k">
        <th mat-header-cell *matHeaderCellDef>Weekly Cases Per 1k</th>
        <td mat-cell *matCellDef="let element"> {{ element.weeklyNewCasesPer1k }} </td>
      </ng-container>
    
      <ng-container matColumnDef="twoWeekChange">

        <th class="tableHeaders" mat-header-cell *matHeaderCellDef>Two Week Change (%)</th>
        <td mat-cell *matCellDef="let element; let i = index" style="display: flex; flex-flow: column;">
          <!-- <app-map></app-map> -->
          <!-- <canvas id="myChart"></canvas> -->
          <p style="line-height: 14px; margin: 5px 0 0 0;">{{element.twoWeekChangeCases}}%</p>
          
          <app-table-graph [index] = "i" id = "chart" [twoWeekChange]="twoWeekChangeData">
          </app-table-graph>



        </td>
      </ng-container>
    
      <ng-container matColumnDef="testPositivity">
        <th mat-header-cell *matHeaderCellDef>Test Positivity</th>
        <td mat-cell *matCellDef="let element"> {{ element.testPositivity }} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="columndefs"></tr>
      <tr mat-row *matRowDef="let row; columns: columndefs;"></tr>
    
  </table>
  <br>
</div> 