// ::ng-deep .ngx-slider .ngx-slider-pointer.ngx-slider-active:after {
//     background-color: blue!important;
//     border-color: red !important;
//     &:focus { outline:0 !important; }
//   }
// ::ng-deep .ngx-slider .ngx-slider-pointer.ngx-slider-active {
//     background-color: darkred!important;
//     border-color: red !important;
//     &:focus { outline:0!important; }
// }
.filterTab {
  width: 20%;
  margin: 5px;

}
@media only screen and (min-width: 953px) {
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: left;
    margin:2px;
  }
  .filterTab {
    width:20%;
    margin-top:4px;

  }
  .container {
    display: flex; flex-flow: row; justify-content: space-between;
  }
}
@media only screen and (max-width: 953px) {

  .title {
    text-align: center;
    font-size:21px;
    margin: 5px;


  }
  .container {
    display: flex; 
    flex-flow: column; 
    justify-content: space-between;
  }
  .filterTab {
    margin: auto;
    width: 88%;
  }
}