td, th{
    text-align: center;
    
}
table {
    box-shadow: none;
}
th.mat-header-cell {
    text-align: center;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: red !important;
}
tr.mat-row:first-child > td{
    font-weight:bold;
    font-size: 1000;
    background-color: #F1F1F1;
    padding-left: 12px;

    // background-color:#a9a9a9;

}
tr.mat-row:not(:first-child) > td {
    padding-left: 12px;
}
th.mat-header-cell {
    padding-left: 12px;
}
.mat-paginator-page-link.mat-paginator-current {
    color: black;
}
