<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<div class="backgroundCss">
    <app-nav-bar style="width: 100%;"></app-nav-bar>
    <div class="background-overlay">
        <div class="titleContainer" >
            <p class="Covlab" style="padding-top: 15px;">Covlab</p>
            <p>Uncover the connection: Explore COVID-19 cases through tweets.</p>
        </div>
        <br *ngIf="isLoading">
        <div class="landingPageData">
            <div *ngIf="!isLoading" [@slideInOut]>
                <p style="font-family: 'Roboto';">Total Tweets</p>
                <h4 >{{totalTweets | shortNumber}}</h4>
            </div>
            <div *ngIf="!isLoading" [@slideInOut]>
                <p>Model Positive Tweets</p>
                <h4 >{{modelPosTweets | shortNumber}}</h4>
            </div>
            <div *ngIf="!isLoading" [@slideInOut]>
                <p>Cases 14-day Avg</p>
                <h4 >{{cases14Change | shortNumber}}</h4>
            </div>
        </div>
        <p *ngIf="!isLoading" [@slideInOut] class="lastUpdated" >{{updatedString}}</p>
    </div>
</div>
<!-- <div style="background-color: white;">
    <p class="team_header-title">Meet the team.</p>
</div> -->