/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Nunito', sans-serif;
  }
  
body { margin: 0; font-family: 'Nunito', sans-serif; background-color: black; }
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 95%;
}
.content {
    background-color: grey;
    flex: 1;
}